{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="hero-foot mb-20">
  <div class="container">
    <div class="tabs is-centered">
      <ul>
        <li>
          <img class="partner-logo" src="/images/golang.png">
        </li>
        <li style="margin-left: 80px;">
          <img class="partner-logo" src="/images/java.png">
        </li>
        <li style="margin-left: 80px;">
          <img class="partner-logo" src="/images/python.png">
        </li>
        <li style="margin-left: 80px;">
          <img class="partner-logo" src="/images/cpp.png">
        </li>
        <li style="margin-left: 80px;">
          <img class="partner-logo" src="/images/nodejs.png">
        </li>
        <li style="margin-left: 80px;">
          <img class="partner-logo" src="/images/ruby.png">
        </li>
      </ul>
    </div>
  </div>
</div>
