{{- $section4 := .Site.Params.section4 }}
{{- $title    := index $section4 "title" }}
{{- $subtitle := index $section4 "subtitle" }}
{{- $clients  := index $section4 "clients" }}
<section id="examples" class="section is-medium section-secondary">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
      <!--{{- with $subtitle }}
      <h3 class="subtitle is-5 light-text">{{ . }}</h3>
      {{- end }}-->
    </div>

    <div class="content-wrapper">
      <div class="is-vcentered">
        <div style="margin-bottom: 70px;">
          <h2 class="subtitle light-text has-text-centered">Pipeline written in Go. <a href="https://docs.gaia-pipeline.io/develop-pipelines/golang/" target="_blank">Learn more...</a></h2>
          <div class="image">
            <img src="/images/gaia-go-example.svg">
          </div>
        </div>
        <div style="margin-bottom: 70px;">
          <h2 class="subtitle light-text has-text-centered">Pipeline written in Python. <a href="https://docs.gaia-pipeline.io/develop-pipelines/python/" target="_blank">Learn more...</a></h2>
          <div class="image">
            <img src="/images/gaia-python-example.png">
          </div>
        </div>
        <div style="margin-bottom: 70px;">
          <h2 class="subtitle light-text has-text-centered">Pipeline written in Java. <a href="https://docs.gaia-pipeline.io/develop-pipelines/java/" target="_blank">Learn more...</a></h2>
          <div class="image">
            <img src="/images/gaia-java-example.svg">
          </div>
        </div>
        <div style="margin-bottom: 70px;">
          <h2 class="subtitle light-text has-text-centered">Pipeline written in C++. <a href="https://docs.gaia-pipeline.io/develop-pipelines/cpp/" target="_blank">Learn more...</a></h2>
          <div class="image">
            <img src="/images/gaia-cpp-example.png">
          </div>
        </div>
        <div style="margin-bottom: 70px;">
          <h2 class="subtitle light-text has-text-centered">Pipeline written in Ruby. <a href="https://docs.gaia-pipeline.io/develop-pipelines/ruby/" target="_blank">Learn more...</a></h2>
          <div class="image">
            <img src="/images/gaia-ruby-example.svg">
          </div>
        </div>
        <div>
          <h2 class="subtitle light-text has-text-centered">Pipeline written in Node.js. <a href="https://docs.gaia-pipeline.io/develop-pipelines/nodejs/" target="_blank">Learn more...</a></h2>
          <div class="image">
            <img src="/images/gaia-nodejs-example.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
